
@layer base{
  :root{
    --column-deco: 30rem;
  }

}

  

button,
.button a,
a.button{
  @apply py-4 px-8 border-2 border-solid block text-xl font-sans font-bold bg-white rounded-full text-primary-cardinal-500 leading-5;
  width: fit-content;

  &:hover{
    @apply  text-primary-black;
  }
}

.help-privacy{
  @apply text-base;
}

.modal-trigger{
  a{
    @apply py-1 px-4 block no-underline uppercase text-base hover:underline hover:text-white;
    width: fit-content;
  }
}

.modal-content{
  a{
    @apply underline text-primary-cardinal-500 hover:text-black hover:no-underline;
  }
}