//* ================
//* Custom Mixins
//* ================

// @use "breakpoints";

// NOTE: Put custom mixins here
// @mixin center($_maxWidth: breakpoints.$mq-900, $_width: 90%) {
//   width: $_width;
//   max-width: $_maxWidth;
//   margin: auto;
// }

// // // Alignments
// // %center,
// // .center {
// //   @include center();
// // }

// =====================
// Checkmark
@mixin checkmark($color: #000) {
  content: "";
  display: block;
  width: 0.7em;
  height: 1.3em;
  border-right: 0.3em solid $color;
  border-bottom: 0.3em solid $color;
  position: absolute;
  top: 0.9em;
  left: 0.7em;
  transform: rotate(45deg);
}
// ======================
