// ================
// Modal Windows
// ================

@use "sass:color";
@use "./config";

// ================
// Base Modal Styles

%modal-overlay {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  /* stylelint-disable */
  background: color.adjust(#000, $alpha: -0.2) !important;
  /* stylelint-enable */
}

%modal-wrap {
  position: absolute !important;
  right: 0 !important;
  left: 0 !important;
  width: 90% !important;
  max-width: config.$mq-600 !important;
  margin: 0 auto !important;
}

%modal-skin {
  padding: 1.5rem !important;
  border-radius: 0 !important;
  background: #fff !important;
}

%modal-close {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  color: transparent;
  border: 0;
  background: none;
  font-size: 0;

  &::after {
    content: "X";
    color: #000;
    font-size: 2rem;
    line-height: 1;
  }

  &:hover,
  &:focus {
    &::after {
      // NOTE: Put hover/focus styles here
    }
  }
}

.modal-help-wrapper,
.modal__wrapper {
  @extend %modal-overlay;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  z-index: 999;
}

.modal-content {
  display: flex;
  position: relative;
  max-height: 90vh;
  max-width: config.$mq-800;
  margin: 0 auto;

  .modal {
    display: block;
    padding: clamp(2rem, 4vw, 4rem);
    overflow-y: auto;
    background: #fff;
    color: black;

    a {
      // color: config.$c-red !important;

      &:hover {
        // color: color.adjust(config.$c-red, $lightness: -10%) !important;
      }
    }
  }

  .close-modal {
    display: block;
    position: absolute;
    top: -2em;
    right: 0;
    text-indent: -999em;
    background: none;
    border: 0;
    width: 2em;
    height: 2em;
    padding: 0;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &::before,
    &::after {
      content: "";
      // @apply bg-gold-300;
      background: white;
      display: block;
      width: 1.5em;
      height: 0.3em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg) scale(0.8);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg) scale(0.8);
    }

    &:hover,
    &:focus {
      outline: none;
      &::before,
      &::after {
        @apply bg-white;
      }
    }
  }
}

.video-container {
  position: relative;
  width: 90vw;
  max-width: 100%;
  padding-bottom: 56.25%; /* This is for a 16:9 ratio (height/width = 9/16 = 0.5625 or 56.25%) */
  height: 0;
  overflow: hidden;
  display: block;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}