// ================
// Headlines

h1, h2{
  font-family: var(--font-roboto-slab);
  text-transform: uppercase;
}

h2{
  font-weight: 300;
  line-height: 1.2;

  strong{
    font-weight: 800;
  }
  
}


.error,
.val-header {
  @apply text-red-800;
}
