@use 'tailwind';
@use 'config/base';
@use 'typography';
@use 'modals';
@use 'forms';

p, ul, ol, li{
    font-size: 1rem;
}

ul.list-none{
    li{
        position: relative;
        padding-left: 2rem;
        margin-bottom: 1rem;

        svg{
            position: absolute;
            left: 0;
            top: 0.1em;
        }
    }
}


.hero{
    figure{
        &::before{
                content:"";
                @apply block absolute top-0 left-0 w-full lg:w-1/2 h-full bg-primary-cardinal-500 opacity-90 mix-blend-multiply z-20;
            }  
    }
    .content{
        color: white;
    }
}


.intro-content{
    h2{
        position: relative;

        &::before{
            content:"";
            display: block;
            width: 25%;
            position: absolute;
            top: -0.3em;
            left: 0;
            @apply border-secondary-silver-200 border-solid border-2;
        }
    }
}

.shield-checkmark{
    width: 1.4em;
    height: 1.4em;
    display: inline-block;
    margin-right: 0.5em;
}

.stats{
    background-image: linear-gradient(90deg, #73002E 0%, #B50043 50%, #73002E 100%);

    h2{
        font-weight: 800;
    }
}

.school-content{
    position: relative;
    --deco-size: 30vw;

    @media (min-width: 768px){

        &::before{
            content:"";
            display: block;
            width: var(--deco-size);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @apply border-secondary-silver-200 border-solid border;
        }
        
        &::after{
        content:"";
        display: block;
        height: var(--deco-size);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @apply border-secondary-silver-200 border-solid border;
    }
}

    h2{
        font-weight: 800;
        @apply text-fluid-lg text-primary-cardinal-500;
    }
}

.dates{
    position: relative;

    &::before{
        content:"";
        display: block;
        // width: ;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url("/images/texture-1.png") repeat;
        @apply w-fluid-3xl;
    }
}

.lets-go{
    position: relative;

    &::before{
        content: "";
        @apply block w-full max-w-wide h-8 bg-primary-black absolute top-0 z-10;

    }
}

.testimonial-card{

    .blockquote-content{
        transition: opacity 0.3s;
        @apply lg:absolute lg:opacity-0 top-0 text-white p-fluid-xl;
        
        p{
            // font-size: clamp(1rem, 1.3vw, 1rem);
            font-size: 1rem;
        }

        &::before{
            content: '"';
            @apply text-[10rem] text-secondary-cardinal-400 font-serif leading-[0] h-[4rem] block translate-y-16;

        }
    }

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(115, 0, 46, 0.8);
        backdrop-filter: blur(10px);
        z-index: 1;
        pointer-events: none; 
        opacity: 0;
        transition: opacity 0.3s;
    }


    .author{
        @apply bg-primary-cardinal-500 text-white p-3 bottom-12 left-0 w-full;
    }

    @media(min-width: 1024px){

        &:hover,
        &:focus{
            cursor: pointer;
            
            &::after{
                opacity: 1;
            }
            
        .blockquote-content{
            opacity: 1;
        }

        .author{
            @apply bg-white text-primary-cardinal-500;
        }
        }
    }

}
