body{
  @apply font-sans1;
}

section{
  padding: clamp(2rem, 5vw, 4rem);
}

p, ul, label{
  @apply text-fluid-md font-sans2;
}

ul{
  li{
    margin-bottom: 1em;
  }
}

strong{
  @apply text-primary-red
}

main{
  /* overflow: hidden; */
}

/* -------------------------------------------- */

.close-modal {
  display: block;
  position: absolute;
  top: -2em;
  right: 0;
  text-indent: -999em;
  background: none;
  border: 0;
  width: 2em;
  height: 2em;
  padding: 0;
  cursor: pointer;
  transition: all 0.2s ease-in;
  
  &.btn{
    @apply bg-primary-red;

    &:hover{
      background: #460715;
    }
  }
  

  &::before,
  &::after {
    content: "";
    background: white;
    display: block;
    width: 1.5em;
    height: 0.3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg) scale(0.8);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg) scale(0.8);
  }

  &:hover,
  &:focus {
    outline: none;
    &::before,
    &::after {
      @apply bg-white;
    }
  }
}

.hero {
  .hero__image::before{
    background: rgba(135, 32, 70, 0.85);

    p{
      width: 100%;
    }

    @media(min-width: 900px){
      background: linear-gradient(to right, rgba(135, 32, 70, 1) 50%, rgba(66, 66, 66, 0));
    }
  }
}


.btn{
  @apply text-primary-red bg-secondary-beige font-sans2 text-fluid-lg;
  border-radius: 0;
}

.intro{
  position: relative;
  overflow: hidden;
  &::before{
    content:"";
    display: block;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url('/images/svg/roanoke-texture.svg') no-repeat;
    background-size: cover;
    z-index: 0;
  }

  &::after{
    content:"";
    display: block;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255,255,255, 0.8);
    z-index: 0;
    
    @media(min-width: 900px){
      background: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0.8) 70%, rgba(255,255,255, 0));
    }
  }

  .wrapper{
    position: relative;
    z-index: 1; 
  }
}

.blockquote{
  @apply bg-transparent p-0 flex flex-row gap-fluid-xl;

  /* figure{
    @apply w-1/3 h-[15rem] flex-1;
  } */

  figure{
    height: auto;
    width: 40%;
    flex-shrink: 0;

    img{
      object-position: 30%;
    }

  @media(min-width: 1080px){
   width: 50%;
    &::after{
      content:'';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to left, rgba(238, 239, 241, 1) 20%, rgba(238, 239, 241, 0) 30%, rgba(238, 239, 241, 0));
    }
  }
  }

  .blockquote__content{
    @apply py-fluid-4xl p-fluid-2xl;
    /* max-width: 40rem; */
    

    p{
      @apply text-primary-red text-fluid-md relative font-sans1;

      &::before{
        content: '\0022';
        left: -1em;
      }

      &::after{
        content: '\0022';
        right: -1em;
      }
    }
  }


 .blockquote__author {
  @apply flex flex-row relative text-primary-red;
  &::before{
    content: '—';

  }
  strong{
      @apply uppercase font-normal text-fluid-md;
    }
  }
}

.scholarships{
  position: relative;
  overflow: hidden;
  
  strong{
    @apply text-primary-yellow;
  }

  &::before{
    content: '';
    display: block;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url('../assets/scholarships-bg.jpg') no-repeat center;
    background-size: cover;
    background-blend-mode: darken;
    z-index: 0;
    opacity: 0.08;
  }

  .scholarchips-wrapper{
    z-index: 1;
  }
}


.stats{
  @apply gap-fluid-xl relative overflow-hidden;

  &::before{
    content:'';
    display: block;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url('/images/svg/roanoke-texture.svg') no-repeat;
    background-size: cover;
    z-index: 0;
  }
  &::after{
    content:'';
    @apply block w-full h-full absolute top-0 left-0;
    background: rgba(247, 232, 223, 0.8);
    z-index:1;

    @media(min-width: 1200px){
      background: linear-gradient(to right, rgba(247, 232, 223, 0) 5%,rgba(247, 232, 223, 1) 10%,rgba(247, 232, 223, 1) 90%, rgba(247, 232, 223, 0) 95%);
    }
  }

  .stats-list{
    @apply  flex flex-col mq-900:flex-row;
  }

  .title{
    @apply w-full max-w-wide mx-auto text-left text-fluid-lg font-normal text-primary-gray flex flex-row items-center gap-fluid-md;
    z-index: 10;

    span{
      @apply shrink-0;
    }

    &::after{
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      @apply bg-primary-red;
    }
  }

  .statistic-card{
    width: 100%;
    background: none;
    @apply mq-900:border-r border-solid border-primary-gray;

    &:last-child{
      border-right: none;
    }

    h2{
      span{
        @apply text-primary-red font-normal text-fluid-5xl;
      }
    }

    p{
      @apply text-primary-gray;
    }
  }
}

.sticky-cta{
  z-index: 50;
  @apply bg-secondary-beige;
  border-top: 0.3em solid rgba(135, 32, 70, 1);

  .sticky-cta__content{
    @apply flex flex-row items-center justify-between gap-fluid-md;

    &::before{
      content: '';
      display: block;
      width: 5vw;
      height: 1px;
      background: rgba(135, 32, 70, 1);
    }

    &::after{
      content: '';
      display: block;
      width: 5vw;
      height: 1px;
      background: rgba(135, 32, 70, 1);
    }
    button{
      background: none !important;
      @apply uppercase text-fluid-lg font-sans1 flex flex-col mq-900:flex-row;


      strong{
        @apply bg-primary-red text-primary-yellow p-fluid-xs font-normal;
      }

      &:hover{
        strong{
          @apply bg-primary-yellow text-primary-red;
        }
      }
    }
  }
}

.edu-info{
  
  .wrapper{
    @apply flex flex-col gap-fluid-2xl mq-900:flex-row;

  }
  .edu-info__content{

    h3{
      margin-top: 0;
      margin-bottom: 0.5em;
      @apply text-fluid-2xl font-normal text-primary-red;
    }

    figure{
      margin-bottom: 1em;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}

.dates{
  @apply text-center py-fluid-4xl relative;
  overflow: hidden;

  &::before{
    content: '';
    display: block;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url('../assets/dates-bg.jpg') no-repeat center;
    background-size: cover;
    background-blend-mode: darken;
    z-index: 0;
    opacity: 0.08;
  }

  .wrapper{
    position: relative;
    z-index: 1;
  }

  h2{
    @apply text-primary-yellow text-fluid-lg font-normal uppercase mb-fluid-xl;
  }

  p{
    @apply text-primary-yellow text-fluid-xl font-sans1 uppercase;

    strong{
      @apply text-white;
    }
  }
}

.lets-go{
  overflow: hidden;
  position: relative;
  padding: 0;

  .wrapper{
    @apply flex flex-col mq-900:flex-row;
    p{
      @apply text-fluid-2xl text-left text-primary-red font-normal uppercase;

      strong{
        @apply font-bold;
      }
    }

    .lets-go-content{
      @apply px-fluid-xl py-fluid-3xl mq-900:w-1/2;
    }

    .lets-go-video{
      @media(min-width: 900px){
      position: relative;
      width: 50%;
      }
    }
  }

  .modal-button{
    .btn{
      padding: 0;
      &:hover{
        .video-thumbnail img{
          transform: scale(1.1);
        }
      }
      @media(min-width: 900px){
      background: none;
      position: absolute;
      width: 50vw;
      height: 100%;
      top: 0;
      left: 0;
      padding: 0;
      }

      .video-thumbnail{
        overflow: hidden;
        height: clamp(30rem, 50vw, 40rem);

        @media(min-width: 900px){
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        }
  
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.2s ease-in;
        }

        &::before{
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 10;

          @media(min-width: 900px){
            background: linear-gradient(to right, rgba(255,255,255, 1) 10%, rgba(255,255,255, 0) 35%);
          }
        }

        &::after{
          content:'';
          display: block;
          width: 5rem;
          height: 5rem;
          position: absolute;
          top: 55%;
          left: 55%;
          transform: translate(-50%, -50%);
          background: url('/images/svg/video-icon.svg') no-repeat;
          background-size: contain;
          z-index: 20;
        }
      }
    }
  }
}


.page-footer{
  @apply py-fluid-2xl w-full relative;
  background: url('/images/svg/roanoke-mountains.svg') no-repeat center;
  background-size: cover;
  

  .page-footer__logo{
    @apply w-fluid-7xl h-fluid-2xl;
  }

  .page-footer__wrapper{
    @apply w-full;
  }
}


.mauticform-row{
  margin-bottom: 0.8rem;
  @apply flex flex-col gap-1;
}

.mauticform{
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select{
    min-height: 2rem;
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
  }

  label{
    @apply text-white leading-5;
  }

  select{
    width: fit-content;
  }

  .mauticform-button-wrapper{
    margin-top: 1em;
  }
}